---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Search from "astro-pagefind/components/Search";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <Search
          id="search1"
          className="pagefind-ui"
          uiOptions={{ showImages: false }}
        />
      </nav>
    </header>
    <article>
      <slot />
      <!-- content is injected in the slot element -->
    </article>
    <Footer />
  </body>
</html>
