---
import Search from "astro-pagefind/components/Search";

import CommonHead from "../components/CommonHead.astro";
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";

interface Props {
  title: string;
  description?: string;
}
const { title, description = "Read full books written on Civ servers." } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body id="top">
    <header>
      <nav>
        <a href="/">
          <Logo class="top-logo" />
        </a>
        <!-- <a class="back-home" href="/">Civ Books</a> -->
        <Search
          id="search1"
          className="pagefind-ui"
          uiOptions={{ showImages: false }}
        />
      </nav>
    </header>
    <slot />
    <!-- content is injected in the slot element -->
    <Footer />
  </body>
</html>
